.git
**/.turbo
**/*.tsbuildinfo
**/node_modules
**/dist
**/.next
**/coverage
**/.env
docs
engines
packages
templates/ui
templates/ui-hprt
templates/ui-showcase
templates/ds-cdb
templates/ds-ddb
templates/ds-file
templates/ds-mongo
templates/ds-no-sql
